:root {
    --teal-color: #00ABA9;
    --red-color: #E6563B;
    --orange-color: #EB9D3A;
    --green-color: #7CB06C;
    --white-color: #F0F0F0;
    --grey-color: #E6E6E6;
}
* {
    box-sizing: border-box;
    margin: 0;
}
body{

}

h1, h2, h3 {
    font-family: 'Anton', sans-serif;
}

h6 {
    font-family: 'Abel', sans-serif;
    text-align: left;
}

.featuredProject {
    margin-left: 55px;
    margin-top: 5px;
}

#logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    justify-content: flex-start;
}

.upperPictures {
    max-width: 80%;
    min-width: auto;
    /*display: flex;*/
    /*align-content: center;*/
    margin-left: 50px;
    border: 6px solid lightgray;
    }

.selectedWork {
    margin: 50px;
    text-align: center;
}


.theLastImage {
    width: 65px;
    height: 65px;
}

nav{
    width: 100%;
    display: inline-block;
    background-color: var(--grey-color);
}

.ellipse {
    width: 70px;
    height: 70px;
    border-radius: 150px;
    background-color: red;
    margin: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 60px;
    color: var(--white-color);
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    border: 6px solid var(--white-color);
}

.ellipse-small {
    width: 20px;
    height: 20px;
    border-radius: 150px;
    text-align: center;
    line-height: 22px;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    font-size: 14px;

}
.margin-auto{
    margin: auto;
}
/*@media all and (max-width: 400px) {*/
/*.selectedWork {*/
/*    max-width: 100%;*/
/*    max-height: auto;*/
/*}*/


@media all and (max-width: 500px) {
    #largeScreen {
        display: none;
    }
}

@media all and (max-width: 500px) {
    .selectedWork {
        max-width: 80%;
        min-width: auto;
    }
}

@media all and (max-width: 960px) {
    hr {
        display: none;
    }
}

/*    #largePage {*/
/*        display: flex;*/
/*        justify-content: flex-start;*/
/*    }*/
/*}*/


/*@media all and (min-width: 500px) {*/
/*    .selectedWork {*/
/*        max-width: 60%;*/
/*        min-width: auto;*/
/*    }*/

/*}*/
